<%= render 'shared/page_header', title: "Profile: #{@user.username}" %>

<div class="well">
  <div class='dl-horizontal'>
    <strong>Username:</strong> <%= @user.username %> 
  </div>
</div>
<p><strong><%= @user.username.capitalize %>'s Activity</strong></p>

<% if params[:tab] != 'comments' %>
<div class="btn-group">
  <a class="btn dropdown-toggle btn-small btn-success" data-toggle="dropdown" href="#">
    Sort by
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Newest first', user_path(@user, mark: 'newest') %></li>
    <li><%= link_to 'Rank', user_path(@user, mark: 'rank') %></li>
  </ul>
</div>
<% end %>

<hr/>

<ul class="nav nav-tabs">
  <li class='<%= 'active' if params[:tab].nil? %>'>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? %>
  <%= render '/shared/display_posts'%>
<% elsif params[:tab] == 'comments' %>
  <%= render '/shared/display_comments', show_post: true %>
<% end %>