<% @posts.each do |post| %>
  <div class='well'>
    <%= render '/shared/categories_badge', post: post %>
    <div class = 'pull-right'>
      <%= link_to '[edit]', edit_post_path(post) if owner?(post) %>
    </div>  
    <h4>
      <%= link_to post.title, post_path(post) %>
    </h4>
    <p>
      <%= post.description %>
    </p>
    <div><%= link_to 'Link to Apartment', post.link, :target => :blank %></div>
    </br>
    By <span class='quiet'><%= link_to post.creator.username, user_path(post.creator) %></span> on <%= display_time(post.created_at) %>
    </br>
    <h5>
      <small>
        <%= link_to (post.comments.size == 1 ? "1 comment" : "#{post.comments.size} comments"), post_path(post) %>
      </small>
    </h5>
  </div>
<% end %>