<% show_post ||= false %>

<% @comments.each do |comment| %>
    <div class='row'>
      <div class='span0 well text-center'>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), class: 'icon-arrow-up', method: 'post', remote: true do %>
        <% end %>
        </br>
          <span id= 'comment_<%= comment.id %>_votes'><%= comment.total_votes %> votes</span>
        </br>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), class: 'icon-arrow-down', method: 'post', remote: true do %>
        <% end %>
    </div>
      <div class='span8 well'>
          "<i><%= comment.body %></i>" 
          <% if show_post %>
            <span>- on <%= link_to comment.post.title, post_path(comment.post) %></span>
          <% end %>
            </p>
              - <span class='quiet'><%= link_to comment.user.username, user_path(comment.user) %></span> on <%= display_time(comment.created_at) %>
            </p>
            </br>
        </div>
      </div>
  <% end %>