<div class = 'well'>
  <%= form_for @post do |f| %>
    <%= f.label 'Title' %>
    <%= f.text_field :title, class: 'span5' %>
      </br>
    <%= f.label 'Description' %>
    <%= f.text_area :description, class: 'span6', rows: 6 %>
      </br>
    <%= f.submit (@post.new_record? ? 'Create Post' : 'Update Post'), class: 'btn btn-success' %>
  <% end %>
</div>