<div class = 'pull-right'>
  <%= link_to '[edit this post]', edit_post_path(@post) if owner?(@post) %>
</div>

<p><%= render 'shared/categories_badge', post: @post %>  </p>

<%= render 'shared/page_header', title: @post.title %>
<%= @post.description %>
</p>
  <div><%= link_to 'Link to Apartment', @post.link, :target => :blank %></div>
</br>
<% if logged_in? %>
<hr/>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label 'New Comment' %>
    <%= f.text_area :body, class: 'span5', rows: 5 %>
    </br>
    <%= f.submit 'Add Comment', class: 'btn btn-success' %>
  <% end %>
<% end %>

<hr/>

<%= render 'shared/display_comments' %>

<hr/>
<%= link_to 'Back', posts_path %>