<div class = 'pull-right'>
  <%= link_to '[edit this post]', edit_post_path(@post) %>
</div>

<p><%= render 'shared/categories_badge', post: @post %>  </p>

<%= render 'shared/page_header', title: @post.title %>
<%= @post.description %>
</p>
  <div><%= link_to 'Link to Apartment', @post.link, :target => :blank %></div>
</br>
<hr/>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label 'New Comment' %>
  <%= f.text_area :body, class: 'span5', rows: 5 %>
  </br>
  <%= f.submit 'Add Comment', class: 'btn btn-success' %>
<% end %>

<hr/>

<% @comments.each do |comment| %>
  <div class='well'>
    <%= comment.body %>
      </p>
        - <span class='quiet'><%= comment.user.username %></span> on <%= display_time(comment.created_at) %>
      </p>
    </br>
  </div>
<% end %>

<hr/>
<%= link_to 'Back', posts_path %>