<ul class="nav">
  <li>
    <%= link_to "Apartment Hunt!!", root_path, :class => 'brand' %>
  </li>

  <% if logged_in? %>
    <li>
    <%= link_to 'New Apt', new_post_path %>
    </li>
  <% else %>
    <li>
      <%= link_to "Register", register_path %>
    </li>
    <li>
      <%= link_to "Login", login_path %>
    </li>
  <% end %>
</ul>

<div class="btn-group">
  <a class="btn dropdown-toggle btn-small btn-success" data-toggle="dropdown" href="#">
    Neighborhoods
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% Category.all.each do |cat| %>
    <li><%= link_to cat.name, category_path(cat) %></li>
    <% end %>
    <% if logged_in? %>
    <li class='divider'>
      <li>
          <%= link_to(new_category_path) do %>
            <i class='icon-plus'></i>
            New Neighorhood
          <% end %>
        <% end %>
      </li>
    </li>
  </ul>
</div>

<% if logged_in? %>
  <%= render 'shared/user_dropdown_menu' %>
<% end %>




